#play-area {
  & .Card > .bz-default {
    text-align: center;
    font-size: 3em;
    background: black;
  }

  & .Rock > .bz-default,
  & .Paper > .bz-default,
  & .Scissors > .bz-default {
    text-align: center;
    font-size: 3em;
  }
  & .Rock > .bz-default {
    background-color: burlywood;
  }
  & .Paper > .bz-default {
    background-color: lightyellow;
  }
  & .Scissors > .bz-default {
    background-color: lightpink;
  }

  & .Space[data-name="slots"] > .bz-default {
    background-color: black;
  }
}
