#play-area {
  & .Card {
    text-align: center;
    font-size: 3em;
    background: black;

    &.clickable {
      box-shadow: 0 0 4px 2px yellow;
    }

    & .active {
      display: inline-block;
      animation: spin 1s ease-out;
    }
  }

  & .Rock > .bz-default,
  & .Paper > .bz-default,
  & .Scissors > .bz-default {
    text-align: center;
    font-size: 3em;
  }
  & .Rock > .bz-default {
    background-color: burlywood;
  }
  & .Paper > .bz-default {
    background-color: lightyellow;
  }
  & .Scissors > .bz-default {
    background-color: lightpink;
  }

  & .Space[data-name="slots"] > .bz-default {
    background-color: black;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
